* {
  box-sizing: border-box;
}

html, body {
  background: #EFEFEF;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}
.fade-transition {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}

@font-face {
  font-family: "casper-icons";
  src:url("/assets/fonts/casper-icons.eot?v=1");
  src:url("/assets/fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"),
      url("/assets/fonts/casper-icons.woff?v=1") format("woff"),
      url("/assets/fonts/casper-icons.ttf?v=1") format("truetype"),
      url("/assets/fonts/casper-icons.svg?v=1#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1465801783_6462858.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1465801783_6462858.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1465801783_6462858.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1465801783_6462858.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1465801783_6462858.svg#iconfont') format('svg'); /* iOS 4.1- */
}

/* Apply these base styles to all icons */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "casper-icons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
  content: "\f605";
}